.container-register{
    width: 400px;
    
    height: 350px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 10px 5px 5px black;
    position: relative;
    top: 50px;
}

.title-register{
    display: flex;
    justify-content: center;
    position: relative;
    top: 5px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.register-form-field{
  position: relative;
  left: 22px;
  top: 15px;
  border-radius: 20px;
}

.button-register{
    border-radius: 20px;
    width: 300px;
    height: 30px;
    position: relative;
    left: 51px;
    top: 15px;
    background-color: white;
    cursor: pointer;
}