*{
  margin: 0;
  padding: 0;
}

.list{
  position: relative;
  display: flex;
  justify-content: center;
  top: 50px;
  font-size: 40px;
  left: 760px;
 
  list-style-type: none;
  color: white;
  text-decoration: none;
  max-width: 20px;
 
}


.list2{
  position: relative;
  display: flex;
  right: 90px;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  list-style-type: none;
  color: white;
  text-decoration: none;
  max-width: 20px;
  left: 590px;
}

@media screen and (max-width: 960px) {
    
    li{
      position: relative;
      left: 400px;
      top: 40px;
    }

    .list{
      z-index: 1;
    }
}



 